{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/catalog.css' %}" />
    <link rel="icon" href="{% static 'images/cigarette.ico' %}">
    {% endblock %}
    {% block extrascripts %}
    <script src="{% static 'js/auth.js' %}" type="text/JavaScript" defer></script>
    <script src="{% static 'js/buy.js' %}" type="text/JavaScript" defer></script>
    {% endblock %}
    
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="logo">SpaceShop</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="{% url 'cart' %}">Cart</a></li>
            {% if user.is_authenticated %}
            <li><a>
                <form id='logout' action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>
            </a></li>
            {% else %}
            <li><a href="#" id="login">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Main Content -->
    <main class="catalog-content">
        <h1>Catalog of Futuristic Weapons</h1>
        <div class="catalog-grid">
            {% for weapon in weapons %}
            <a  href="{% url 'product' name=weapon.name %}">
                <div class="product-card">
                    <img src="{% static 'images/gun3.jpg' %}" alt="Laser Gun">
                    <h2 class="plain">{{weapon.name}}</h2>
                    <p class="plain">Power: {{weapon.power_consumption}}</p>
                    <p class="plain">Fire Rate: {{weapon.range}}</p>
                    <p class="price plain">{{weapon.price}}$</p>
                    <button id="addtocart" class="btn">Add to Cart</button>
                </div>
            
            {% endfor %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 SpaceShop. All rights reserved.</p>
    </footer>

   <!-- Login Modal -->
        <div class="modal" id="login-modal">
            <div class="modal-content">
                <span class="close" id="close-login">&times;</span>
                <h2>Login</h2>
                <form id="logform" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <label for="login-email">Email</label>
                    <input type="email" id="login-email" name="email" placeholder="Enter your email" required>

                    <label for="login-password">Password</label>
                    <input type="password" id="login-password" name="password" placeholder="Enter your password" required>

                    <button type="submit" class="auth-btn">Login</button>
                </form>
                <div id="wrong">Incorrect input data. Try again.</div>
                <button id="register" class="ask">Do not have an account? Register</button>
            </div>
        </div>


        <!-- Register Modal -->
        <div class="modal" id="register-modal">
            <div class="modal-content">
                <span class="close" id="close-register">&times;</span>
                <h2>Register</h2>
                <form id="regform" method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <label for="register-name">Name</label>
                    <input type="text" id="register-name" name="name" placeholder="Enter your name" required>
                    <label for="register-email">Email</label>
                    <input type="email" id="register-email" name="email" placeholder="Enter your email" required>

                    <label for="register-password">Password</label>
                    <input type="password" id="register-password" name="password" placeholder="Create a password" required>

                    <label for="register-confirm-password">Confirm Password</label>
                    <input type="password" id="register-confirm-password" name="confirm_password" placeholder="Confirm your password" required>

                    <button type="submit" class="auth-btn">Register</button>
                </form>
                <div id="wrong2">Incorrect input data. Try again.</div>
                <button id="login2" class="ask">Already have an account? Login</button>
            </div>
        </div>
</body>
</html>
